{% for videoPlayed in videosPlayed %}
    <div class="boxplayed" data-id="{{ videoPlayed[0].idVideo }}">
        <div class="videoTitle">{{ videoPlayed[0].idVideo|videoTitle }}</div>
        <div class="clear"></div>
        <div class="images">
            <img src="{{ videoPlayed[0].idVideo|videoImage }}">
        </div>
        <div class="vote"><div class="like" style="width: {{ videoPlayed[0].idVideo|videoPercentageLike }}%"></div></div>
        <div class="counts">
            <div class="likeCount"><i class="fa fa-thumbs-up"></i>{{ videoPlayed[0].idVideo|videoLikeCount }}</div>
            <div class="dislikeCount"><i class="fa fa-thumbs-down"></i>{{ videoPlayed[0].idVideo|videoDislikeCount }}</div>
        </div>
        <div class="buttonPlay"></div>
    </div>
{% endfor %}
