<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <![endif]-->
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('logo.png') }}" />
        <meta property="fb:app_id" content="483746685074343"/>
        <script type="text/javascript">
            var DOMAIN_NAME = '{{ crawlable|urlBase }}';
        </script>
        {% if og_image is defined %}
            <meta property="og:title" content="{{ og_title }}" />
            <meta property="og:image" content="{{ og_image }}" />
        {% endif %}
    </head>
    <body>
    <div id="loadBar"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=483746685074343";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ ua_google_analytics }}']);
        _gaq.push(['_setDomainName', 'vidlis.fr']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
        <div class="main-container">
            {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="showPlaying">+</div>
            <div class="infoPlayed">
                <h2>What is listening now ?</h2>
                <div class="clear"></div>
                <div class="contentPlayed mCustomScrollbarExist">
                </div>
            </div>
        </div>
    <a href='https://github.com/pCyril/vidlis' target="_blank" style='z-index: 1000;position:fixed;padding:5px 45px;width:250px;bottom:50px;left:-50px;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);box-shadow:0 0 0 3px #f6c304, 0 0 20px -3px rgba(0, 0, 0, 0.5);text-shadow:0 0 0 #ffffff, 0 0 5px rgba(0, 0, 0, 0.3);background-color:#f6c304;color:#ffffff;font-size:13px;font-family:sans-serif;text-decoration:none;font-weight:bold;border:2px dotted #ffffff;-webkit-backface-visibility:hidden;letter-spacing:.5px;'>Fork me on GitHub</a>

    <div class="modal modalWithHeader">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modalHTML">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
    </body>
</html>
