<div id="right_content">
    <div class="presentation">
        <div class="particules">
            <div class="shadow"></div>
            {% for image in images %}
                <img src="{{ asset(image) }}" class="imagesAlbum">
            {% endfor %}
            <div class="titleSearch">
            <h2>Discover a new way to listen music for free</h2>
            <div class="searchZoneHome">
                <form class="formSearchHome" id="formSearchHome">
                <div class="search-input-bg">
                    <input type="text" placeholder="Search your music" name="search" id="q" autocomplete="off" class="search-input ui-autocomplete-input">
                </div>
                </form>
            </div>
            </div>
        </div>
        <div id="feeds">
            {% if connected == false %}
            <a href="{{ path('fos_user_registration_register') }}" class="btn-register-home toModalHTML">Create your account</a>
            {% endif %}
            <h3>Last viewed videos</h3>
            {% for videoPlayed in videosPlayed %}
                <div class="boxplayed" data-id="{{ videoPlayed[0].idVideo }}">
                    <div class="videoTitle">{{ videoPlayed[0].idVideo|videoTitle }}</div>
                    <div class="clear"></div>
                    <div class="images">
                        <img src="{{ videoPlayed[0].idVideo|videoImage }}">
                    </div>
                    <div class="vote"><div class="like" style="width: {{ videoPlayed[0].idVideo|videoPercentageLike }}%"></div></div>
                    <div class="counts">
                        <div class="likeCount"><i class="fa fa-thumbs-up"></i>{{ videoPlayed[0].idVideo|videoLikeCount }}</div>
                        <div class="dislikeCount"><i class="fa fa-thumbs-down"></i>{{ videoPlayed[0].idVideo|videoDislikeCount }}</div>
                    </div>
                    <div class="buttonPlay"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'VidlisCoreBundle:Default:menu.html.twig'%}