<div id="right_content">
    <div class="presentation">
        <div class="particules">
            <div class="shadow"></div>
            {% for image in images %}
                <img src="{{ asset(image) }}" class="imagesAlbum">
            {% endfor %}
            <div class="titleSearch">
                <h2>Create playlists from your<br> favorites YouTube videos</h2>
                <a href="{{ url('_homePlaylistsAll') }}" onclick="loadBox('/playlists/all');  return false;">Discover popular playlists</a>
            </div>
        </div>
        <div id="feeds">
            {% if connected == false %}
            <a href="{{ path('fos_user_registration_register') }}" class="btn-register-home toModalHTML">Create your account</a>
            {% endif %}
            <h3>Last viewed videos</h3>
            {% for videoPlayed in videosPlayed %}
                <div class="boxplayed" data-id="{{ videoPlayed[0].idVideo }}">
                    <div class="videoTitle">{{ videoPlayed[0].idVideo|videoTitle }}</div>
                    <div class="clear"></div>
                    <div class="images">
                        <img src="{{ videoPlayed[0].idVideo|videoImage }}">
                    </div>
                    <div class="vote"><div class="like" style="width: {{ videoPlayed[0].idVideo|videoPercentageLike }}%"></div></div>
                    <div class="counts">
                        <div class="likeCount"><i class="fa fa-thumbs-up"></i>{{ videoPlayed[0].idVideo|videoLikeCount }}</div>
                        <div class="dislikeCount"><i class="fa fa-thumbs-down"></i>{{ videoPlayed[0].idVideo|videoDislikeCount }}</div>
                    </div>
                    <div class="buttonPlay"></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'VidlisCoreBundle:Default:menu.html.twig'%}