<a href="javascript:;" class="shareLink twitter" onclick="window.open('https://twitter.com/share?url=http%3A%2F%2Fvidlis.fr%2Fshare%2F{{ idVideo }}', 'share','height=350px,width=600px');"><i class="fa fa-twitter"></i> Twitter</a>
<a href="javascript:;" class="shareLink facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fvidlis.fr%2Fshare%2F{{ idVideo }}', 'share','height=350px,width=600px');"><i class="fa fa-facebook"></i> Facebook</a>
<a href="javascript:;" class="shareLink google" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fvidlis.fr%2Fshare%2F{{ idVideo }}', 'share','height=350px,width=600px');"><i class="fa fa-google-plus"></i> Google+</a>
<div class="shareLink link"><i class="fa fa-link"></i> {{ url("_home") }}share/{{ idVideo }}</div>
<div class="clear"></div>