{% if tab is not defined %}
    {% set tab = 'home' %}
{% endif %}

<div id="mainToolbar">
    <a href="{{ url('_home') }}" id="logo" onclick="loadBox('/', 'tabHome');  return false;">VIDLIS</a>
    {% include 'VidlisCoreBundle:Default:player.html.twig' %}
    <div class="playerVideo">
        <div id="videoDiv"><img src="{{ asset('bundles/Vidlis/images/loadBlack.gif') }}"></div>
    </div>
    <div id="toolbarSearch">
        <form class="form-wrapper cf formSearch" id="formSearch">
            <input type="text" placeholder="Recherche" name="search" id="search" autocomplete="off">
            <button type="submit"><i class="icon search"></i></button>
        </form>
    </div>
</div>
<div class="relative" id="container">
<section id="secondToolbar">
    <ol id="mainNavMenu" class="newNavMenu UI_nav navigation">
        <li class="tab {% if tab == 'home' %}current{% endif %}">
            <a href="{{ url('_home') }}" onclick="loadBox('/', 'tabHome');  return false;" class="tabHome {% if tab == 'home' %}default{% endif %}">Home</a>
        </li>
        <li class="tab {% if tab == 'playlist' %}current{% endif %}">
            <a href="{{ url('_homePlaylistsAll') }}" onclick="loadBox('/playlists/all', 'tabPlaylist');  return false;" class="tabPlaylist {% if tab == 'playlist' %}default{% endif %}">Playlists</a>
        </li>
        {#<li class="tab">
            <a href="/prochainement" title="Voir tous les films prochainement au cinéma" data-action="Cinemur:loadWall" class="">En cours</a>
        </li>#}
    </ol>

    <section class="uiSplitter"></section>
</section>
</div>
<div class="underVideo">
    <div id="viewCount"><span></span> vues</div>
    <div id="vote"><div class="like"></div></div>
    <div class="loadQueue"><img src="{{ asset('bundles/Vidlis/images/loadQueue.gif') }}"></div>
    <a href="{{ url('_formCreatePlaylist') }}" class="btn-save toModal"><i class="icon save mouseoverInfo" data-info="Sauvegarder la playlist"></i></a>
    <a href="#" class="btn-suggestion"><i class="icon suggestion mouseoverInfo" data-info="Afficher / Masquer les suggestions"></i></a>
    <a href="#" class="btn-trash"><i class="icon trash mouseoverInfo" data-info="Vider la playlist"></i></a>
    {#<a href="#" class="btn-grow"><i class="icon grow mouseoverInfo" data-info="Agrandir la vidéo"></i></a>#}
</div>
<div id="infoLabel"></div>
<div id="playlistContent">
</div>
<div id="suggestionContent">
</div>
<div class="successAddedToQueue"></div>
<div class="errorMessage"></div>
<div class="closeShowPlaylist"><i class="fa fa-chevron-right fa-lg"></i></div>
<div class="overlay"></div>
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
        </div>
    </div>
</div>