{% include 'VidlisCoreBundle:Default:sidebar.html.twig' %}

<div id="right_content">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <a href="{{ url('_homePlaylists') }}" onclick="loadBox('/fr/playlists');  return false;">Mes playlists</a>
                </li>
                <li class="active">
                    <a href="{{ url('_homePlaylistsAll') }}" onclick="loadBox('/fr/playlists/all');  return false;">Toutes les playlists</a>
                </li>
            </ul>
        </div>
    </div>


    {% for playlist in playlists %}
        <div class="box330 box-boreder">
            <div class="boxHeader"><h2>{{ playlist.name }}</h2></div>
            <div class="boxBody mCustomScrollbarActiv">
                {% for item in playlist.items %}
                    <div class="rowItem{% if (loop.index/2)|isFloat == false %} pair{% endif %}" data-id="{{ item.idVideo }}">
                        <div class="itemNumber">{{ loop.index }}</div>
                        <div class="videoName">{{ item.videoName }}</div>
                        <div class="videoDuration">{{ item.videoDuration }}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="boxFooter dark">
                <a href="#" class="btn gray">écouter</a>
            </div>
        </div>
    {% endfor %}
</div>