<div id="right_content">
    <div id="feeds">
        <div class="genreRow">
            <ul>
                {% for tag in genres %}
                <li>
                    {% if tag == 'Tous' %}
                        <a href="{{ url('_artist') }}" onclick="loadBox('/artists/', 'tabArtist'); return false;" {% if genre == '' %}class="active"{% endif %}>
                            {{ tag }}
                        </a>
                    {% else %}
                        <a href="{{ url('_artistGenre', {'genre': tag}) }}" onclick="loadBox('/artists/{{ tag }}', 'tabArtist'); return false;" {% if tag == genre %}class="active"{% endif %}>
                            {{ tag }}
                        </a>
                    {% endif %}
                </li>
                {% endfor %}
                <li>
                    <form class="formSearchArtist">
                        <input type="text" name="search" id="searchArtist" placeholder="Recherche">
                        <button type="submit"><i class="fa fa-search"></i></button>
                        <div class="clear"></div>
                    </form>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
        <div id="feeds_content">
            {% include 'VidlisCoreBundle:Artist:itemList.html.twig' with {'artists': artists} %}
        </div>
        {% if genre != 'search' %}
            <div class="loadMoreContent" data-limit="20" data-offset="20" data-tag="{{ genre }}">Chargement en cours</div>
        {% endif %}
        <div class="clear"></div>
    </div>
</div>
{% include 'VidlisCoreBundle:Default:menu.html.twig'%}