<div id="right_content">
    <div id="feeds">
        <div class="artistDetail">
            <div class="info">
                <div class="imageArtist">
                </div>
                <h1 class="artistTitle">{{ artist.name }}</h1>
                <div class="tagList genreRow">
                    <ul>
                    {% for tag in artist.tags %}
                        <li>
                            <a href="{{ url('_artistGenre', {'genre': tag.name}) }}" onclick="loadBox('/artists/{{ tag.name }}', 'tabArtist'); return false">
                                {{ tag.name }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </div>
                {% if artist.info != '' %}
                    <div class="text">
                        {{ artist.info|raw }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="similarArtist">
            <h2>Artistes similaires</h2>
            {% include 'VidlisCoreBundle:Artist:similarArtistList.html.twig' with {'artists': similarArtists} %}
            <div class="clear"></div>
        </div>
        <div class="discographie">
            <h2>Discographie</h2>
            {% for album in artist.albums %}
                <div class="album">
                    <h3>{{ album.name }}</h3>
                    <div class="albumImage">
                        <img src="{{ album.image }}" width="150px">
                    </div>
                    <div class="tracks">
                        {% for track in album.tracks %}
                            <div class="track{% if (loop.index/2)|isFloat != false %} pair{% endif %} {% if track.youtubeId == '' %}inactive{% endif %}">
                                <div class="itemNumber">{{ loop.index }}</div>
                                <div class="videoName" {% if track.youtubeId != '' %}data-id="{{ track.youtubeId }}"{% endif %}>{{ track.name }}</div>
                                <div class="videoDuration">{{ track.getHumanReadableDuration() }}</div>
                                <div class="playButtonRow" {% if track.youtubeId != '' %}data-id="{{ track.youtubeId }}"{% endif %}><i class="icon play blue"></i></div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'VidlisCoreBundle:Default:menu.html.twig'%}