{% if connected %}
    {% if created %}
    <div class="alert alert-success">Your playlist has been created</div>
    <script>
        $(document).ready(function(){
            $('.dropdown-submenu').each(function() {
                idVideo = this.id;
                if ($(this).find('ul').length) {
                    ul = $(this).find('ul').first();
                } else {
                    $(this).append('<ul class="dropdown-menu"></ul>');
                    ul = $(this).find('ul').first();
                }
                $(ul).append('<li><a href="{{ path('_formAddToPlaylist', {'idPlaylist':playlist.id, 'vidId':''}) }}/'+idVideo+'" class="toModal">{{ playlist.name }}</a></li>');
            });
            {% if savePlaylist %}
            $('#savePlaylist').html('Ajout en cours des éléments à la playlist').removeClass('hide');
            $('#playlistContent .itemPlaylist').each(function() {
                var idVideo = $(this).data('id');
                var path = '{{ path('_formAddToPlaylist', {'idPlaylist':playlist.id, 'vidId':''}) }}' + '/' + idVideo;
                $.ajax({
                    type : 'GET',
                    url: path,
                    cache: false,
                    dataType : 'json',
                    beforeSend: function (){
                    },
                    success: function(data){
                    }
                }).done(function() {
                    $('#savePlaylist').html('Votre playlist a été  sauvegardée.');
                });
            });
            {% endif %}
            $('.modal, .overlay').delay( 800 ).fadeOut();
        });
    </script>
    <div class="alert alert-success hide" id="savePlaylist">Your playlist has been saved</div>
    {% endif %}
    <div>
        <form action="{{ path('_formCreatePlaylist', {'vidId': idVideo}) }}" data-container=".modalWithHeader .modal-body" class="form-horizontal form-ajax" novalidate>
            <div class="control-group">
                <label class="control-label">Playlist name :</label>
                <div class="controls">
                    {{ form_widget(form.name) }}
                </div>
            </div>
            {% if form.vars.errors|length %}
            <div class="alert alert-danger">
                {{ form_errors(form.name) }}
            </div>
            {% endif %}
            <div class="control-group">
                <div class="controls">
                    <label>
                    {{ form_widget(form.private) }} Make this playlist private
                    </label>
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Sauvegarder" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
{% else %}
    <div class="alert alert-danger" id="savePlaylist">You must log in to create a playlist</div>
{% endif %}